.vs/
.vscode/
*.log
*.tlog
*.idb
*.ilk
*.pdb
*.exe
*.lib

build/*.log
build/*.tlog
build/*.idb
build/*.ilk
build/*.pdb
build/*.exe
build/*.lib
build/*.obj

build/lib/debug/*.lib
build/lib/release/*.lib

build/lib/debug/obj/*.obj
build/lib/release/obj/*.obj

docs/html
docs/latex